@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
}

.container {
  width: 100%;
  margin: 0 auto;
  margin: 30px 0;
  max-width: 1200px;
}

.topNavigation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.topNavigation .topNavigation-content {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  background-color: white;
  padding: 0 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.topNavigation .arrow {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid gray;
  border-radius: 50%;
  font-size: 16px;
  margin-right: 20px;
  color: black;
}

.topNavigation .title p {
  font-size: 18px;
}

.tabContainer {
  width: 90%;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  padding-top: 20px;
  margin: auto;
}

.tabContainer .topTab {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: center;
  border-bottom: 2px solid #e9e9e9;
  background-color: white;
  border-radius: 8px 8px 0px 0px;
}
.some-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.box1 {
  border: 2px solid;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  font-size: 21px;
}
.tabContainer .topTab .tab {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 8px;
  border-bottom: 5px solid transparent;
  margin-bottom: -3px;
}
.faq-heading {
  max-width: 100%;
  margin: auto;
  text-align: center;
  display: none;
}
.faq-title {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.faq-description {
  font-size: 0.7rem;
  color: #666;
  margin-bottom: 1rem;
}

.faq-description a {
  color: #007bff;
  text-decoration: none;
}

.faq-description a:hover {
  text-decoration: underline;
}
.tabContainer .topTab .tab span {
  color: gray;
  font-size: 14px;
  cursor: pointer;
}
.tabContainer .topTab .tab.active {
  border-bottom: 3px solid #db6062;
}
.tabContainer .topTab .tab.active span {
  color: #db6062;
}

.tabContent {
  width: 100%;
  margin: auto;
}

.tab-content {
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 8px 8px;
  display: none;
}

.tab-content.active {
  display: flex !important;
}

.tab-content {
  width: 100%;
  padding: 20px;
  background-color: white;
}
.tab-main {
  border-radius: 0 0 8px 8px;
}

.tab-content-1 form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-content-1 form .searchInput {
  width: 100%;
  border: 1px solid #e9e9e9;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  border-radius: 12px;
}

.tab-content-1 form .searchInput ion-icon {
  color: #db6062;
  font-size: 20px;
  padding-right: 8px;
}

.tab-content-1 form .searchInput input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: none;
}

.tab-content-2 form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* display: none; */
}
.tab-content-2 .success-container {
  display: flex;
  flex-direction: column;
  display: none;
  text-align: center;
}
.tab-content-2 .success-container h3 {
  color: #00c200;
}
.tab-content-2 .success-container p {
  font-size: 14px;
  color: rgb(73, 73, 73);
}

.tab-content-2 form .inputField {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tab-content-2 form .inputField input,
.tab-content-2 form .inputField select,
.tab-content-2 form .inputField textarea {
  padding: 8px 12px;
  border-radius: 6px;
  background: none;
  border: 1px solid rgb(196, 196, 196);
}

.tab-content-2 form .inputField label {
  margin-top: 10px;
  margin-bottom: 3px;
  color: rgb(83, 83, 83);
  font-size: 13px;
}

.tab-content-2 form button {
  margin-top: 10px;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  background-color: #db6062;
  color: white;
}

.card-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
}

.card-content {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  align-items: center;
  justify-content: center;
  place-items: center;
}

.card-container .card {
  width: 100%;
  padding: 14px 10px;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: white;
  text-decoration: none;
}

.card-container .card.active {
  background-color: #db6062;
}

.card-container .card.active .left-side {
  color: white;
}

.card-container .card.active p {
  color: white;
}

.card-container .card.active .right-side i {
  color: white !important;
}

.card-container .card .left-side {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
}

.card-container .card .right-side ion-icon {
  color: black;
  font-size: 28px;
}

.card-container .card .right-side i {
  color: black;
  font-size: 38px;
}

.card-container .card p {
  color: gray;
  font-size: 13px;
}

/*start styles*/
.accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 15px;
}

.accordion__item {
  border: 1px solid #e5f3fa;
  border-radius: 10px;
  overflow: hidden;
}

.accordion__header {
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  transition: all 400ms ease-in-out;
}

.accordion__header.active {
  background: #db606262;
}

.accordion__header.active .icon {
  transition: all 400ms ease-in-out;
  transform: rotate(180deg);
}

.accordion__item .accordion__content {
  padding: 0 25px;
  max-height: 0;
  transition: 0.5s;
  overflow: hidden;
}

.accordion__item .accordion__content p {
  font-size: 13px;
}


.card.card-1.responsive-show {
  display: none;
}


@media screen and (min-width: 700px) {
  .tabContainer {
    padding-top: 0 !important;
    margin-right: 20px
  }
  /* .tabContent {
    width: 90%;
  }
  .tabContainer .topTab {
    width: 20%;
    flex-direction: column;
  } */

  .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .faq-heading {
    display: block;
  }
  .topNavigation {
    display: none;
  }

  .card-container{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
    flex-direction: column;
  }

  .card-content {
    grid-template-columns: repeat(1, 1fr);
  }

  .card.card-1.responsive-show {
    display: flex;
  }

  .topTab.responsive-hidden {
  display: none;
  }
  
}
