@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --fav-color: #2881CA;
    --fav-color-dark: #125992;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

a {
    text-decoration: none;
}

.top-chat-menu {
    width: 100%;
    position: fixed;
    z-index: 999;
}

.top-chat-menu .toper-container {
    background-color: #ffff;
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;

}

.info {
    width: 100%;
    padding: 12px;
    text-align: center;
}

.info p {
    width: 100%;
    font-size: 13px;
}

.top-chat-menu .left-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.top-chat-menu .left-side .icon-arrow {
    color: var(--fav-color);
    font-size: 24px;
}

.top-chat-menu .left-side .icon-arrow ion-icon {
    display: flex;
}

.top-chat-menu .left-side .profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-chat-menu .left-side .profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-chat-menu .left-side .profile-info p {
    font-weight: 600;
    color: var(--fav-color-dark);
}

.top-chat-menu .left-side .profile-info small {
    color: #00e500;
    letter-spacing: 1.1px;
}


.top-chat-menu .right-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.top-chat-menu .right-side .separate {
    color: var(--fav-color);
    font-weight: 700;
    font-size: 28px;
}

.top-chat-menu .right-side .icon {
    color: var(--fav-color);
    font-size: 24px;
}

.top-chat-menu .right-side .icon ion-icon {
    display: flex;
}


.chat-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    margin-top: 55px;
}

.chat-content {
    width: 92%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: #f5f5f5;
    overflow: scroll;
    margin-bottom: 50px;
}

.chat-content::-webkit-scrollbar {
    width: 0px;
}

.bottom-chat-menu {
    width: 100%;
    padding: 4px 10px;
    border-radius: 8px;
    background-color: #ffff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    z-index: 999;
}

.imageAttach {
    width: 100%;
    background: #f5f5f5;
    margin: 10px 0;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    display: none;
}

.imageAttach.active {
    display: flex;
}

.imageAttach .image {
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageAttach .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bottom-chat-menu ion-icon {
    display: flex;
    font-size: 20px;
    color: var(--fav-color);
}

.bottom-chat-menu .left-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 100%;

}

.bottom-chat-menu .left-side .inputField {
    width: 100%;
}

.bottom-chat-menu .left-side .inputField input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 8px;
}

.bottom-chat-menu .right-side .icon.send {
    padding-left: 15px;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 245, 245);
    gap: 10px;
}

.container .wrapper {
    min-width: 400px;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.container .wrapper.rsp {
    align-items: flex-start !important;
    justify-content: flex-start !important;
    flex-direction: column !important;
    margin: 10px 0;
}

.container .wrapper.rsp.left {
    align-items: flex-end !important;
    justify-content: flex-end !important;
}


.container .wrapper .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 30px 10px;
    width: 100%;
}


.container .wrapper.rsp .item {
    padding: 10px 10px;

}


.container .wrapper.rsp {
    width: 100%;
    background-color: #f5f5f5;
}

.container .wrapper.rsp .item {

    background-color: #f5f5f5;
    width: 66%;
}


.container .wrapper .item:first-child {
    border-right: 2px solid rgb(200, 200, 200);
}


.container .wrapper .item.choose-bike {
    display: none;
}

.container .wrapper .item.choose-bike.active {
    display: flex !important;
}

.container .wrapper .item .heading {
    margin-bottom: 30px;
    color: #282828;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .wrapper.rsp .item.rsp .heading.rsp {

    margin-bottom: -4px;
    color: #282828;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #ffffff;
    padding: 6px 12px;
    border-radius: 12px;
}

.container .wrapper .item .brand-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .wrapper .item .brand-container.brand-logo {
    gap: 0 !important;

}

.container .wrapper .item .item-brand {
    padding: 6px;
    width: 150px;
    max-width: 150px;
    height: 40px;
    cursor: pointer;
    border: 3px solid transparent;
    border-radius: 4px;
    transition: all 300ms ease-in-out;
    margin: 10px;

}

.container .wrapper .item .item-brand.active {
    border: 3px solid var(--fav-color);
}



.container .wrapper .item .item-text {
    padding: 6px;
    width: 150px;
    max-width: 150px;
    height: 40px;
    /* background-color: green; */
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    border: 2px solid var(--fav-color);
    align-items: center;
    color: var(--fav-color);
    font-weight: bold;
    transition: all 300ms ease-in-out;
    margin: 4px;
}

.container .wrapper .item .item-text.active {
    border: 2px solid var(--fav-color);
    background: var(--fav-color);
    color: white;
}


.container .wrapper .item .item-brand:hover {
    border: 3px solid var(--fav-color);
    color: white;
}

.container .wrapper .item .item-text:hover {
    border: 2px solid var(--fav-color);
    background: var(--fav-color);
    color: white;
}

.container .wrapper .item .item-brand img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.bike-model-content {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    text-align: center;
    margin-top: 30px;
}

.bike-model-content.active {
    display: flex;
}

.bike-model-content h3 {
    margin-bottom: 10px;
    color: #282828;
}

.bike-model-content p {
    margin-bottom: 2px;
}

.interestedOption {
    margin-top: 30px;
}

.interestedOption h2 {
    color: #282828;
}

.interestedOption .interestedOptionBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4px;
    margin-top: 10px;
}

.interestedOption.rsp .interestedOptionBtn {
    flex-direction: column !important;
}

.interestedOption .interestedOptionBtn .btn {
    padding: 8px 16px;
    border-radius: 4px;
    transition: all 300ms ease-in-out;
    white-space: nowrap;
}

.interestedOption.rsp .interestedOptionBtn .btn {
    padding: 4px 16px !important;
    border-radius: 4px;
    transition: all 300ms ease-in-out;
    white-space: nowrap;
    background-color: white;
    color: black;
    border-radius: 8px;
    border: none;
    width: 100%;
}

.interestedOption .interestedOptionBtn .btn.btn-primary {
    border: 2px solid var(--fav-color);
    background-color: var(--fav-color);
    color: white;

}

.interestedOption .interestedOptionBtn .btn.btn-outline {
    background: none;
    border: 2px solid var(--fav-color);
    color: var(--fav-color);
}

.choose-option {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    width: 100%;
    display: none;
    margin-top: 20px;
}

.bottom-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #fff; */
    padding: 20px;
    width: 100%;
}

.bottom-btn .interestedOption {
    width: 100%;
    margin-top: 0px !important;
}

.bottom-btn .interestedOption .interestedOptionBtn {
    width: 100%;
    /* flex-direction: row !important; */
}

.bottom-btn .interestedOption .interestedOptionBtn.rsp.right {
    align-items: flex-end;
    justify-content: flex-end;
}


.bottom-btn .interestedOption .interestedOptionBtn button {
    width: 50%;
}



.bottom-btn .interestedOption .interestedOptionBtn p {
    max-width: 632px;
}

.bottom-btn .interestedOption .interestedOptionBtn p.active {
    display: flex;

}



@media only screen and (min-width: 500px) {
    
    .container .wrapper {
        max-width: 1200px !important;
        flex-direction: row;
        margin: 0;
    }

    .container .wrapper.rsp {
        /* margin: 0 30px; */
        /* width: inherit; */
        justify-content: flex-start;
        align-items: flex-start;
    }

    .container .wrapper .item {
        min-height: 300px;
        box-shadow: none;
    }

    .item-brand {
        width: 180px !important;
        height: 60px !important;
    }

}


@media only screen and (max-width: 500px) {
    body {
        background-color: rgb(245, 245, 245);
    }

    .container.index {
        justify-content: flex-start !important;
    }
    .container {
        /* min-height: 0; */
    }

    .container .wrapper {
        min-width: 100% !important;
        max-width: 100% !important;
    }

    .container .wrapper.rsp {
        width: 88%;

    }


    .container .wrapper .item .item-brand {
        height: 45px;
        width: 85px;
        margin-bottom: 4px;
        padding: 2px;
        margin: 4px;
    }

    .container .wrapper {
        background: none;
        box-shadow: none;
    }

    .container .wrapper .item:first-child {
        border-right: none !important;
    }

    .container .wrapper .item {
        margin-top: 20px;
        border-radius: 8px;
        padding: 10px;
    }

    .interestedOption {
        margin-top: 0;
    }

    .interestedOption.active {
        display: none;
    }

    .container .wrapper .item .item-text {
        width: 85px !important;
        text-align: center;
        font-size: 14px;
    }

    .interestedOption h2 {
        text-align: center;
    }

    .interestedOption .interestedOptionBtn {
        flex-direction: row !important;
    }

    .choose-option {
        padding: 10px 0;
    }

    .choose-option.active {
        display: flex;
        border-radius: 8px;
        flex-direction: row !important;
    }


    .choose-option a {
        white-space: nowrap;
    }

    .interestedOption .interestedOptionBtn .btn {
        padding: 8px 6px !important;
        font-weight: 600;
    }

    .choose-option .hidden {
        /* display: none; */
    }

    #tab0 h2 {
        font-size: 20px;
    }

    .container .wrapper .item .heading {
        margin-bottom: 4px;
    }

    .bike-model-content {
        margin-top: 10px;
    }

}


#tab0 h2 {
    text-align: center;
    color: #282828;
}


@media only screen and (max-width: 741px) {

    .interestedOption .interestedOptionBtn {
        flex-direction: column;
    }

    .interestedOption .interestedOptionBtn a {
        width: 100%;
    }
}

/* ======================================== */
/* ======================================== */
/* ===== Profession Page */
/* ======================================== */
/* ======================================== */
.wrapper .item.profession {
    border-right: none !important;
}

.container .wrapper .item .item-text.profession {
    text-align: center;
    height: 50px;
}

.container .wrapper .item .item-text.profession.active {
    background-color: #2881CA;
    color: white;
}

@media only screen and (max-width: 500px) {
    .container .wrapper .item .item-text.profession {
        font-size: 12px;
    }
}

.hidden-radio {
    display: none;
}

.selected {
    background-color: #2881CA;
    color: white !important;
}



/* Model */

.model-container {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    transition: all 300ms ease-in-out;
    display: none;


}

.model-container.active {
    display: flex;
}


.model-container .popup {
    position: relative;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
}

.model-container .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
}
.model-container .form.rsp {
    gap: 0 !important;
    justify-content: center;
    align-items: center;
    width: 85%;
    max-width: 400px;
}

.note {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #2B2B2F;
}

.success-message {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #009f0f;
    padding: 6px 16px;
    border-radius: 8px;
    text-align: center;
    display: none;
}

.success-message.active {
    display: flex;
}

.form {
    width: 380px;
    padding: 30px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    position: relative;
}

.input-form {
    padding: 24px 0 0 0;
    width: 100%;
}

.input-form.image-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="date"]::-webkit-datetime-edit {
    color: transparent;
}

input[type="date"]::-webkit-datetime-edit {
    color: black !important;
}

.form-group {
    width: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

input,
select {
    border: 2px solid rgba(0, 0, 0, 0.3);
    outline: none;
    width: 100%;
    height: 45px;
    padding: 5px 10px;
    border-radius: 4px;
    background: none;
}

input[type="file"] {
    padding-top: 14px;
}

select {
    border: 2px solid rgba(0, 0, 0, 0.3) !important;
    outline: none;
    width: 100%;
    height: 45px;
    padding: 5px 10px;
    border-radius: 4px;
}

input:focus {
    border-color: var(--fav-color);
}

.form-label {
    position: absolute;
    display: inline-block;
    transform: translateY(-50%);
    left: 10px;
    transition: all 0.3s ease-in-out;
    top: 0px;
    background-color: white;
    padding: 0 5px;
    color: var(--fav-color-dark);
    font-size: 12px;
}


.form .btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.form .btn-container .btn {
    background-color: var(--fav-color);
    color: #fff;
    border-radius: 6px;
    padding: 10px 40px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    border: 2px solid transparent;

}

.form .btn-container .btn:hover {
    background-color: var(--fav-color-dark);
}


#aitraz-message-content {
    display: none;
}



#aitraz-message-content.active {
    display: block;
}





.cl-checkbox {
    position: relative;
    display: inline-block;
}

/* Input */
.cl-checkbox>input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.cl-checkbox>span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

/* Box */
.cl-checkbox>span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 0px 11px 3px 1px;
    border: solid 2px;
    /* Safari */
    border-color: rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.cl-checkbox>span::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 1px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.cl-checkbox>input:checked,
.cl-checkbox>input:indeterminate {
    background-color: var(--fav-color);
}

.cl-checkbox>input:checked+span::before,
.cl-checkbox>input:indeterminate+span::before {
    border-color: var(--fav-color);
    background-color: var(--fav-color);
}

.cl-checkbox>input:checked+span::after,
.cl-checkbox>input:indeterminate+span::after {
    border-color: #fff;
}

.cl-checkbox>input:indeterminate+span::after {
    border-left: none;
    transform: translate(4px, 3px);
}

/* Hover, Focus */
.cl-checkbox:hover>input {
    opacity: 0.04;
}

.cl-checkbox>input:focus {
    opacity: 0.12;
}

.cl-checkbox:hover>input:focus {
    opacity: 0.16;
}

/* Active */
.cl-checkbox>input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.cl-checkbox>input:active+span::before {
    border-color: #85b8b7;
}

.cl-checkbox>input:checked:active+span::before {
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.6);
}

/* Disabled */
.cl-checkbox>input:disabled {
    opacity: 0;
}

.cl-checkbox>input:disabled+span {
    color: rgba(0, 0, 0, 0.38);
    cursor: initial;
}

.cl-checkbox>input:disabled+span::before {
    border-color: currentColor;
}

.cl-checkbox>input:checked:disabled+span::before,
.cl-checkbox>input:indeterminate:disabled+span::before {
    border-color: transparent;
    background-color: currentColor;
}


form .agreeWithTerm {
    margin-top: -18px;
}




form .agreeWithTerm .text {
    font-size: 14px;
}

form .agreeWithTerm .text span {
    color: var(--fav-color);
    text-decoration: underline;
}


#acceptSubmitButton:disabled {
    background: #8a8a8a;
}



.content__or-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 13px;
    column-gap: 18px;
    margin-bottom: 8px;
    width: 100%;
}

.content__or-text span:nth-child(2) {
    white-space: nowrap;

}


.content__or-text span:nth-child(3),
.content__or-text span:nth-child(1) {
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(219, 219, 219);
}


.time-content {
    width: 63%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.time-content small {
    position: absolute;
    top: -10px;
    right: 0;
    font-size: 12px;
    color: #222222;
}

#userClickButton {
    display: none;
}




/*tooltip Box*/
.con-tooltip {
    position: relative;
    transition: all 0.3s ease-in-out;
    cursor: default;
  }
  
  /*tooltip */
  .tooltip {
    visibility: hidden;
    z-index: 1;
    opacity: .40;
    
    width: fit-content;
    padding: 0px 5px;
  
    background: var(--fav-color);
    color: #ffff;
    
    position: absolute;
    top: 160%;
    left: -133%;
    
  
    border-radius: 6px;
    font: 12px;
  
    transition: all 0.3s ease-in-out;
    
  }

  .tooltip p {
    white-space: nowrap;
    font-size: 13px;
    padding: 5px 0;
  }
  
  
  /* tooltip  after*/
  .tooltip::after {
    content: " ";
    width: 0;
    height: 0;
    
    border-style: solid;
    border-width: 12px 12.5px 0 12.5px;
    border-color: var(--fav-color) transparent transparent transparent;
  
    position: absolute;
    top:-17%;
    left:40%;
    transform: rotate(180deg);
  
  }
  
  .con-tooltip:hover .tooltip{
    visibility: visible;
    opacity: 1;
  }

  .container.index {
    justify-content: center;
  }


  #userReplyLoadingStatus {
    display: none;
  }

  #welcomeMessage {
    display: none;
  }

  #FirstMessage{
    display: none;
  }

  #After-load {
    display: flex; flex-direction: column; width: 100%;
    display: none;
  }